body{
  margin: 0;
  background: url("https://i.pinimg.com/564x/d5/b7/29/d5b72972937be56f05f0aefc06c40d4a.jpg");
  color: white;
  cursor: default;
} 

.App {
  font-family: sans-serif;
  text-align: center;
}

.database {
  width: 90%;
  margin:auto;
}



nav {
  color: white;
  padding: 1rem
}

.nav-brand {
  font-family: 'Goldman', cursive;
  font-size: larger;
}

.emogi{
color: red
}

.interpreter{
background:linear-gradient(90deg,green,lightgreen,green);
width: 60%;
margin: auto;
padding: 2rem 0.5rem;
border-radius: 20px;
margin-bottom: 10px;
}

input{
  padding: 1rem;
  font-size: 0.9rem;
  border: 1px solid green;
}